@font-face {
    font-family: 'Love Story';
    src: url(fonts/love\ story\ ttf.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Love Story', 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: normal;
}